/* Original color orangered */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
.navbaritems {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: auto;
  text-align: center;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}
.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a.active {
  color: #00838f;
  font-weight: bold;
}
.nav-link.active {
  color: #00838f;
  font-weight: bold;
  border-bottom: 0px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background: black;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: #f5f5f5;
  font-weight: 600;
  transition: color 0.4s ease, text-shadow 0.4s ease, transform 0.4s ease;
  display: inline-block;
  cursor: pointer;
}

@media (min-width: 900px) {
  .logo:hover {
    transform: scale(1.15) rotate(-7deg);
  }
}

.logo-shadow {
  color: #00838f !important;
  text-shadow: 0 0 25px #00838f, 0 0 50px #00838f;
  transform: scale(1.1);
}
#typed-paragraph {
  font-family: "Courier New", Courier, monospace;
  color: #f5f5f5;
  background-color: black;
  padding: 1rem;
  border-radius: 8px;
  font-size: 17px;
}
#typed-paragraph span {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
span:not(#year) {
  color: #00838f;
}
.navbar a {
  font-size: 18px;
  color: #f5f5f5;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.navbar a:hover {
  color: #00838f;
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.contact {
  padding: 10px 28px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 0.1px;
  font-weight: 600;
  transition: 0.3s ease;
}
.contact:hover {
  background-color: #00838f;
  box-shadow: 0 0 25px #00838f;
  color: #f5f5f5;
}
.home {
  width: 100%;
  min-height: 100vh;
  background: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  gap: 12em;
  padding: 30px 12% 0;
}
.home_content {
  max-width: 800px;
}
.home-content h3 {
  font-size: 42px;
}
.home-content h1 {
  font-size: 62px;
  line-height: 1.2;
}
.btn-box {
  width: 345px;
  display: flex;
  gap: 2em;
  margin: 1px;
}
.btn-1 {
  padding: 15px 28px;
  background-color: black;
  color: #f5f5f5;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn-1:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.btn-2 {
  padding: 15px 28px;
  background-color: #00838f;
  color: #f5f5f5;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn-2:hover {
  background-color: white;
  color: #00838f;
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
/* .img-box img {
  border-radius: 50%;
  width: 450px;
}  This is for the image*/
.hidden-img {
  display: none;
}
.img-box .video-wrapper {
  width: 450px;
  height: 550px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  animation: pop3D 1s ease-out forwards;
  transform-origin: center;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.img-box .video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: translateZ(60px) scale(1.5);
  transition: transform 0.6s ease;
}
::-webkit-scrollbar-thumb {
  background-color: #00838f;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 8%;
  gap: 10em;
  background: black;
}
.about-img img {
  position: relative;
  width: 450px;
  box-shadow: 0 0 25px #00838f, 0 0 25px #00838f;
  border-radius: 50%;
}
.about-content {
  margin-top: -80px;
}
.about-content h2 {
  text-align: left;
  color: #f5f5f5;
  font-size: 42px;
}
.about-content h3 {
  color: #f5f5f5;
  font-size: 62px;
}
.about-content h2 {
  text-align: left;
  color: #f5f5f5;
  font-size: 42px;
}
.about-content p {
  color: #999999;
  font-size: 20px;
  margin: 2em 0 3em;
}
.typed-wrapper {
  min-height: 500px;
  margin-top: 1em;
}
.contact-form h2 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 36px;
}
.contact-form form {
  max-width: 50em;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3em;
}
.contact-form form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-form .input-box input,
.contact-form form textarea {
  width: 100%;
  padding: 1.5em;
  font-size: 10px;
  color: black;
  background: rgb(241, 241, 241);
  border-radius: 0.8rem;
  margin: 1rem 0;
  resize: none;
}
.img-box img,
.about-img img {
  border-radius: 50%;
  width: 450px;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}
.zoom-animate {
  animation: initialZoom 1.3s ease-in-out;
}
.zoom-article-animate {
  animation: articleinitialZoom 1.6s ease-in-out;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: black;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer .social a {
  font-size: 24px;
  color: white;
  border: 2px solid #00838f;
  width: 30px;
  height: 30px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow: inset 0 0 10px #00838f, 0 0 10px #00838f;
  transition: 0.3s ease;
}
.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  color: #00838f;
  border: 2px solid #00838f;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.footer ul li a:hover {
  border-bottom: 3px solid #00838f;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: white;
}
#hamburger-nav {
  display: none;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #00838f;
  transition: all 0.3s ease-in-out;
}
.menu-links {
  position: relative;
  top: 100%;
  right: 0;
  background-color: black;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.text-container {
  min-height: 345px;
}
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 300px;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}
h4 {
  color: white;
  font-size: 30px;
}
.details-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2rem;
  text-align: center;
}
.details-containers {
  margin-bottom: 100px;
}
.details-container a {
  color: white;
  font-size: 40px;
}
.details-container div {
  flex: 1;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 2rem;
  border-radius: 2rem;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details-container a {
  display: block;
  margin-bottom: 1rem;
  color: white;
  font-size: 2rem;
}

.details-container h4 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.details-container p {
  margin: 0;
  font-size: 1rem;
}
.details-container div:hover {
  background-color: white;
  transform: scale(1.05);
  border-color: #00838f;
  color: #00838f;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.details-container div:hover a,
.details-container div:hover h4,
.details-container div:hover p {
  color: #00838f;
}
section.navbaritems {
  background-color: black;
  padding: 20px 0;
}
.navbaritems a {
  font-size: 25px;
}
section.experience {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 36px;
  margin-left: 60px;
  margin-right: 60px;
}
.article-container {
  display: grid;
  margin-top: 60px;
  top: 40px;
  grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 20px), 1fr));
  gap: 20px;
}
#contain {
  display: grid;
  grid-template-columns: repeat(auto-full, minmax(calc(33.33% - 20px), 1fr));
  gap: 20px;
}
.article-container article {
  border: 1.5px solid black;
  border-radius: 20px;
  padding: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  background-color: white;
  text-align: center;
}
#contain article {
  border: 1.5px solid black;
  border-radius: 20px;
  padding: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  background-color: #00838f;
  text-align: center;
}
#contain article h4 {
  font-size: 18px;
  color: white;
  transition: color 0.3s ease;
}
#contain article:hover h4 {
  color: #00838f;
}
#contain article:hover {
  transform: scale(1.05);
  background-color: white;
  color: black;
}
.article-container article:hover {
  transform: scale(1.05);
  background-color: #00838f;
  color: black;
}
.project-sub-title {
  color: black;
}
.article-container article img {
  width: 150px;
  height: auto;
}
.article-container article h4 {
  font-size: 18px;
  color: black;
  transition: color 0.3s ease;
}
.article-container article:hover h4 {
  color: white;
}
section.projects {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 12% 8%;
  gap: 10em;
  background: black;
}
.btn-color {
  padding: 15px 28px;
  background-color: white;
  color: #005259;
  border: 3px solid #00838f;
  border-radius: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-border {
  border: 4px solid white;
  width: fit-content;
  border-radius: 30px;
}

.btn-border:hover {
  background-color: #00838f;
  color: white;
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.progress {
  font-size: 40px;
  color: #00838f;
  position: fixed;
  margin-left: 50px;
  margin-top: 130px;
}
.progressincomplete {
  font-size: 50px;
  color: red;
  position: fixed;
  margin-left: 50px;
  margin-top: 120px;
}
.projectdesc {
  font-weight: bold;
  font-size: 1px;
  text-align: left;
  min-height: 320px;
}
#contain article p {
  font-size: 16px;
}
#contain article p.projectdesc {
  color: white;
}
#contain article p.complete,
#contain article p.in-progress {
  color: #00838f;
  font-weight: bold;
  text-align: left;
}
#contain article:hover p.projectdesc {
  color: black;
}
#contain article:hover p.complete {
  text-decoration: none;
}
#contain article:hover p.in-progress {
  color: red;
}
.organise {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.echolyf {
  color: white;
}
#contain article:hover span {
  color: #00838f;
}
span.tech-title {
  color: black;
}
@keyframes fadeZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animated-entry {
  animation: fadeZoomIn 1s ease-out forwards;
}

@keyframes pop3D {
  0% {
    opacity: 0;
    transform: rotateX(20deg) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes fadeInOne {
  from {
    opacity: 0;
    color: black;
  }
  to {
    opacity: 1;
    color: rgb(255, 116, 3);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}
@keyframes initialZoom {
  0% {
    transform: scale(1);
    filter: brightness(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.1);
    filter: brightness(1.1);
    box-shadow: 0 0 30px rgba(0, 131, 143, 0.6), 0 0 40px rgba(0, 131, 143, 0.4);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
    box-shadow: 0 0 30px rgba(0, 131, 143, 0.6), 0 0 40px rgba(0, 131, 143, 0.4);
  }
}
@keyframes initialZoom {
  0% {
    transform: scale(1);
    filter: brightness(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.1);
    filter: brightness(1.1);
    box-shadow: 0 0 30px rgba(0, 131, 143, 0.6), 0 0 40px rgba(0, 131, 143, 0.4);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
    box-shadow: 0 0 30px rgba(0, 131, 143, 0.6), 0 0 40px rgba(0, 131, 143, 0.4);
  }
}
@keyframes articleinitialZoom {
  0% {
    transform: scale(1);
    filter: brightness(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.1);
    filter: brightness(1.1);
    box-shadow: 0 0 30px white, 0 0 40px white;
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
    box-shadow: 0 0 30px white, 0 0 40px white;
  }
}
.fadein {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fadein.visible {
  opacity: 1;
}
.highlight {
  border: 2px solid white;
  box-shadow: 0 0 3000px white;
  color: white;
  background-color: black;
  transition: border 0.5s ease, box-shadow 0.5s ease, color 0.5s ease,
    background-color 0.5s ease;
}

.demo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.demo-container button {
  height: 20px;
  border: 3px #00838f solid;
  color: #005259;
  background-color: white;
  font-weight: bolder;
  border-radius: 15px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 20px;
  cursor: pointer;
}

.outer-ring {
  display: flex;
  position: relative;
  top: -10px;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  border-radius: 30px;
}

.orange-btn {
  color: orangered !important;
}

/* Below is the code for switching from light mode to dark mode */
.theme-toggle {
  background: none;
  border: none;
  font-size: 24px;
  color: #f5f5f5;
  cursor: pointer;
  margin-left: 1rem;
  transition: transform 0.3s ease;
}

.theme-toggle:hover {
  transform: scale(1.2);
}

body.dark-mode .home {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode .header,
body.dark-mode .about,
body.dark-mode #typed-paragraph,
body.dark-mode .projects,
body.dark-mode .navbaritems,
body.dark-mode footer {
  background-color: #181818;
}

body.dark-mode .img-box .video-wrapper {
  box-shadow: 0 0 40px 15px rgba(255, 244, 229, 0.7);
}

body.dark-mode .demo-container button {
  background-color: #181818;
  color: #00838f;
  font-weight: 600;
}

body.dark-mode span.orange-btn {
  color: orangered !important;
}

body.dark-mode .article-container article,
body.dark-mode .details-container div {
  background-color: #1c1c1c;
  border-color: white;
  color: #e0e0e0;
}

body.dark-mode #contain article:hover p.projectdesc {
  color: #d3d3d3;
}

body.dark-mode .article-container #tumunch,
body.dark-mode .article-container #time_t,
body.dark-mode .article-container #echolyf,
body.dark-mode .article-container #bayshore,
body.dark-mode .article-container #inventory-app,
body.dark-mode.article-container #flightsimulator,
body.dark-mode .article-container #coach_career,
body.dark-mode .article-container #flightsimulator {
  background-color: #1c1c1c;
  border-color: white;
  color: #e0e0e0;
}

body.dark-mode input[type="text"],
body.dark-mode input[type="email"],
body.dark-mode input[type="number"],
body.dark-mode input[type="submit"],
body.dark-mode textarea {
  background-color: #2a2a2a;
  color: #e0e0e0;
  border: 1px solid #555;
}

body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: #aaa;
}

body.dark-mode .article-container article h4 {
  color: white;
}

body.dark-mode .btn-1,
body.dark-mode .btn-2 {
  background-color: #333;
  color: #f5f5f5;
  border: 2px solid #555;
}

body.dark-mode .btn-color {
  color: #00838f;
  border: 3px solid #00838f;
  background-color: #181818;
}

body.dark-mode .btn-1:hover,
body.dark-mode .btn-2:hover {
  background-color: #00838f;
  color: white;
}
